<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STIS BRIDGE CLUB</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./img/logo-sbc.ico">
    <style>
    </style>
</head>
<body>
    <!-- Header -->
    <header style="display: flex;background-color: rgb(248, 187, 194); justify-content: space-evenly;">
        <a href="https://instagram.com/sbc.stis?igshid=YmMyMTA2M2Y=" style="margin: 2px 2px;">
            <img src="./img/instagram.ico" alt="icon">
        </a>
        <a href="https://instagram.com/sbc.stis?igshid=YmMyMTA2M2Y=" style="margin: 2px 2px;">
            <img src="./img/web.ico" alt="icon">
        </a>
    </header>
    <!-- Header END -->
    
    <!-- NAVBAR -->
    <nav>
        <div class="logo">
            <img src="./img/logo-sbc.png" alt="logo">
            <h4 class="h4">STIS BRIDGE CLUB</h4>
        </div>
    <ul>
            <li>
                <a href="login" class="a-navbar">Login</a>
            </li>
            <li>
                <a href="registration" class="a-navbar">Register</a>
        </ul>
        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <!-- Navbar END -->
    <!-- Content 1-->
    <div class="container-content">
        <div class="content">
            <h1>Selamat Datang di</h1>
            <h1>STIS BRIDGE CLUB STIS</h1>
            <p>STIS Bridge Club (SBC) merupakan bagian dari UKM Olahraga bidang strategi yang menjadi wadah bagi mahasiswa Politeknik Statistika STIS untuk mempelajari, mengembangkan bakat, dan meraih prestasi pada cabang olahraga Bridge.</p>
            
            <div class="button">
                <a href="login">
                    <button type="button" class="login">Login</button>
                </a>
                <a href="registration">
                    <button type="button" class="daftar" style="text-transform: capitalize;">Daftar Sekarang</button>
                </a>
            </div>
        </div>
        <div class="img-content">
            <img src="./img/Foto.jpg" alt="foto">
        </div>      
    </div>
<!-- Content End -->

<!-- Footer -->
<footer>
    <p>&copy; STIS BRIDGE CLUB</p>
</footer>
<!-- Footer END -->

<script src="./js/script.js"></script>  
<script src="./js/landing.js"></script>  
</body>
</html>